/* 
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-black);
    animation: smoothly 1s forwards;
    z-index: 9999;
} */
header{
    /* background-color: #FDD670; */
    background-color: #000;
}
/* div.gap-10{
    background-color: #E04F54;
} */
button.cart{
    /* background-color: #E04F54; */
    color: white;
    border: 1px solid wheat;
}
button.cart:hover{
    background-color: #E04F54;
    color: white;
    border: 1px solid wheat;
}
button.account{
    background-color: #E04F54;
    color: white;
    padding: 5px;
    border-radius: 5px;
}